@use 'src/styles/variables';
@use 'src/styles/theme';

.terms {
  padding: 1% 15% 3% 15%;
  color: variables.$white;
  line-height: 30px;
  text-align: left;
}
h2 {
  padding-top: 1%;
  font-weight: 600;
  text-align: center;
}
h3 {
  font-weight: 600;
  font-size: large;
}

.termLink {
  color: theme.$link-color;
}
